body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -12.7rem;
  /* margin-left: -15rem; */
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.3rem 1.25rem;
  /* font-size: 1.2rem; */
}

.sidebar-heading {
  padding: 0;
  /* font-size: 1.2rem; */
}

#sidebar-wrapper .list-group {
  width: 12.7rem;
  /* width: 15rem; */
}

#page-content-wrapper {
  min-width: 100vw;
}

/* #page-content-wrapper {
  width: 100vw;
  min-height: 100vh;
  height: auto;
} */

#page-content-wrapper::after {
  content: "";
  background: url('../images/background.jpg');
  opacity: .07;   
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -12.7rem;
    /* margin-left: -15rem; */
  }

  .reqCont, .respCont {
    padding: 0 7vw 0 7vw;
    margin:0;
  }
}

.logo-sidebar {
  height: 37px;
  width: auto;
}

.logo-about {
  width: 35vmax;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 3px rgba(30, 36, 43, 0.4);
}

.about {
  padding: 5% 0% 5% 15%;
}

/* .reqCont, .respCont {
  border: 3px black solid;
  border-radius: 10px;
  height: 40vh;
} */

.url-input {
  border: rgb(223,105,25) 0.2px solid;
}

.card .chevron-down {
  transition: .3s transform ease-in-out;
}
.card .collapsed .chevron-down {
  transform: rotate(-90deg);
}




/* login */
/* .login {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.login::after {
  content: "";
  background: url('../images/login_bg.jpg');
  opacity: .1;   
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.login-container {
  padding: 13vh 30vw 13vh 30vw;
}

.login-logo {
  width: 24vmax;
  height: auto;
} */